body {
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding-top: 0;
  margin-top: 0;
}

li {
  padding-top: 10px;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button.expanded {
  transform: rotate(90deg);
}
button.collapsed {
  transform: rotate(0deg);
}
